name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt install libudev-dev
      - name: Build
        run: cargo build --verbose
      - name: Run tests
        run: cargo test --verbose
